@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@200;300;400;500&display=swap");

html {
  scroll-behavior: smooth;
  
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: white;
  font-family: "Trispace", sans-serif;
  position: relative;
  
}

a {
  text-decoration: none;
  color: white;
}

.header-top {
  display: flex;
  margin-top: 100px;
  width: 15%;
  flex-direction: column;
  justify-content: center;
}

.header-item {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0 7px 7px 0;
  padding-left: 30px;
 
}

.header-item:hover {
  background-color: #272727;
  cursor: pointer;
  border: 1px solid cyan;
}

.active {
  background-color: #272727;
  cursor: pointer;
  border: 1px solid cyan;
}

.bottom-nav {
  padding-left: 30px;
  width: 20%;
  margin-top: 50px;
}

.bottom-nav > p {
  font-weight: 500;
  font-size: 1rem;
}

.bottom-nav i {
  margin-top: 15px;
  font-size: 30px;
  cursor: pointer;
}

.connect-icons {
  display: flex;
  flex-direction: row;
  justify-items: center;
  gap: 20px;
}

.github-icon {
  padding-right: 20px;
  border-right: 1px solid rgb(110, 110, 110);
}

.right-section {
  position: absolute;
  top: 0;
  left: 20%;
  margin-bottom: 0px;
}

.heading {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  margin-right: 40%;
}

.main-image {
  width: 500px;
  margin-left: 20%;
}

.main-image img {
  width: 100%;
  overflow: hidden;
}

.dev {
  background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 14s infinite linear;
}

@-webkit-keyframes hue {
  from {
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(-360deg);
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky-mob-nav {
 position: fixed;
 bottom: 0;
 width: 100%;

}


.heading-main {
  margin-top: 50px;
}

.heading-main > p {
  line-height: 1.5;
  text-align: center;
  font-weight: 300;
  text-align: justify;
}

#about {
  padding-top: 20px;
}

.paragraph-main {
  display: block;
}

/* tech card  */

#tech{
  padding-top: 40px;
}

.tech-card-wrapper {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.tech-card {
  width: 130px;
  text-align: center;
  font-weight: 500;
  border-radius: 16px;
}

.tech-card > img {
  width: 100%;
}

.tech-card p {
  padding: 0 10px 0px 10px;
  background: white;
  border-radius: 14px;
  color: black;
  display: inline-block;
}

.tech-card:hover {
  transition: all 0.2s ease-in;
  scale: 1.2;
  background-color: #272727;
  padding: 0px 20px;
  cursor: pointer;
}

/* project card  */

#projects{
  margin-top: 120px;
}

.project-card {
  width: 400px;
  position: relative;
  padding:0;
  object-fit: cover;
  cursor:pointer;

  overflow: hidden;
  border-radius: 16px;

}

.project-card img {
  width: 100%;
  border-radius: 16px;
  filter: brightness(0.6);
  transition: transform .4s;

}

.title-project {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 26px;
  color: white;
}

.project-cards-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}


.project-card:hover img{
 transform: scale(1.3);
  transform-origin: 50% 50%;
  filter:brightness(60%)
  
}

/* resume section */


.resume-back{
  background-color: #272727;
  width:80%;
  border-radius: 10px;
  color: rgb(219, 219, 219);
  display: flex; 
  align-items: center; 
  justify-content: space-around;
  margin-top: 40px;
  height: 100px;
  box-shadow: 2px 4px 8px 2px rgba(200, 200, 200, 0.2), 2px 6px 20px 0 rgba(200, 200, 200, 0.19);
}

.about-content{
  width:80%;
  line-height: 1.5;
  font-size: 1.5rem;
}


.resume-back >h2 {
  font-weight: 500;
}


.btn{
  background: black;
  border: 1px solid cyan;
  font-size: 20px;
  padding: 4px 8px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: transform .3s ease-in-out;
}

.btn:hover{

  transform: scale(1.2);
}

.download-icon{
  color: white;
  padding: 7px;
}

.edu-heading{
  margin-top: 100px;
}


.logo-clg > i {
  font-size: 2rem;
  border: 3px solid cyan;
  padding: 40px;
  border-radius: 50%;
  
}

.education-card-wrapper{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.form-wrapper{
  display: flex;
  flex-direction: column;
 

}

.btn-form{
  margin-right: auto;
}



input{
  display: block;
  margin-bottom: 20px;
}

#contact-form{
  background-color:#272727;
  width: 80%;
  padding: 20px 50px;
  margin-top: 100px;
  border-radius: 12px 12px 0 0;
  
}

